<p class="caption">Billboard</p>
<table class="table">
  <% @articles.each do |article| %>
    <tr class="align-self-start">
      <td class="align-self-start text-right">
        <% if article.text.downcase.include?('куплю') || article.text.downcase.include?('buy') %>
          <span class="badge badge-warning"><%= article.title %></span>
        <% else %>
          <span class="badge badge-success"><%= article.title %></span>
        <% end %>
      </td>
      <td class="align-self-start text-left"><%= link_to article.text, article_path(article), class: 'nav-link' %></td>
    </tr>
  <% end %>
</table>
<p class="text-center">
  <%= link_to "New notice", new_article_path, class: "btn btn-success btn-lg m-4 pill-btn" %>
</p>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <div class="collapse navbar-collapse pull-xs-right justify-content-center">
      <%= paginate @articles, window: 1, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
    </div>
  </div>
</nav>
